ECT_NAME="{{ ansible_facts.hostname }}"

ETCD_ADVERTISE_CLIENT_URLS="http://0.0.0.0:2379"
ETCD_LISTEN_CLIENT_URLS="http://0.0.0.0:2379"

ETCD_INITIAL_ADVERTISE_PEER_URLS="http://0.0.0.0:2380"
ETCD_LISTEN_PEER_URLS="http://0.0.0.0:2380"

ETCD_INITIAL_CLUSTER="{{ datastoreEndpoint }}"

